<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Petition</title>
        <link rel="stylesheet" href="/stylesheet.css">
    </head>
    <body>
        <div id="loggedInNav">
            <a href="/logout" class= "logOutBtn">Log Out</a>
            <a href="/profile/edit" class= "logOutBtn">Edit Profile</a>
        </div>
        {{>nav}}
        <header>
        <h2 id = 'petitionTitle'>Save the Drop Bear</h2>
        <img src="/dropbearlogofinal.svg" id='sideLogoSmall'>
        </header>

        {{{ body }}}

        {{>footer}}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src = '/canvasScript.js' charset="utf-8" type='text/javascript'></script>
    </body>
</html>
