<h1>The Drop Bear</h1>
<h2>History Riddled with Violence</h2>
<div id="bearDescription">
<p>The majestic drop bear is edging on the verge of extinction. Reasons are manifold and consist of
hunting, deforestation, fracking, and its brutal murder and feasting on hundreds of
Australians yearly</p>
</div>
