<h1>The Drop Bear</h1>
<h4><i>(Is not real. It's a mythical evil koala made up by Australians. This is not a real petition. You get it.)</i></h4>
<h2>History Riddled by Violence</h2>
<div id="bearDescription">
<p>The majestic drop bear is heading towards extinction at an alarming rate due to
hunting, deforestation, poaching, and its murder of hundreds of
Australians every year.</p>
<div id="dropBearCartoon"><img id='dropBearCartoon' src="/dropbearcartoon.jpg" ></div>
<span style= 'font-style:italic; font-size:15px'>Drop Bears sign in nature</span>
<br>
<br>
<p>It is <i>OUR</i> moral duty to protect these delicate beings.</p>
<div><img style = 'width:40%'src="/dropbear5.jpg" ></div>

<p>Why?</p>
<p>¯\(°_o)/¯</p>
</div>
