<h1>The Drop Bear</h1>
<h2>History Riddled by Violence</h2>
<div id="bearDescription">
<p>The majestic drop bear is heading towards extinction at an alarming rate due to
hunting, deforestation, poaching, and its murder of hundreds of
Australians every year.</p>
<div id="dropBearCartoon"><img src="/dropbearcartoon.gif" ></div>
<span style= 'font-style:italic; font-size:15px'>Drop Bears in their natural habitat</span>
<br>
<br>
<p>It is <i>OUR</i> moral duty to protect these delicate beings.</p>
<div><img src="/dropbearfall.gif" ></div>
<p>Saving drop bears in the wild is extremely difficult, as they tend to attack our volunteers,
but the effort is worthwhile. </p>
<p>Why?</p>
<p>BECAUSE</p>
</div>
