<h1>Please enter your details to log in</h1>
<form method="post">
  <p>Email</p>
  <input type="text" name="username" value="">
  <p>Password</p>
  <input type="password" name="password" value="">
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <br>
  <br>
  <button type="submit" class='regLogBtn'>Login</button>
</form>
