<h1>Now please tell us a bit about yourself: </h1>
<form method="post">
  <h4>Age</h4>
  <input type="text" name="age" value="">
  <h4>City</h4>
  <input type="text" name="city" value="">
  <h4>Homepage</h4>
  <input type="text" name="homepage" value="">
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <br>
  <br>
  <button type="submit" class='regLogBtn'>Continue</button>
</form>
