<h1>Now please tell us a bit about yourself: </h1>
<form method="post">
    <p>Age</p>
    <input type="text" name="age" value="">
    <p>City</p>
    <input type="text" name="city" value="">
    <p>Homepage</p>
    <input type="text" name="homepage" value="">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <br>
    <br>
    <button type="submit">Continue</button>
</form>
