<h1>Welcome. Wanna help with the cause?</h1>
<h3>Register Below</h3>
<form method="post">
    <!-- so when there's  a post request it takes this as a path -->
    <p>First Name</p>
    <input type="text" name="firstName" value="">
    <p>Last Name</p>
    <input type="text" name="lastName" value="">
    <p>Email</p>
    <input type="text" name="username" value="">
    <p>Password</p>
    <input type="password" name="password" value="">
    <br>
    <br>
    <button type="submit" class='regLogBtn'>Register</button>
    <p style="color:red">There seems to be an issue with your details. Are you sure you didn't already set up an account? Maybe left some fields blank? Um...</p>
    <br>
    <br>

    <a href= '/login' id='alreadyHave'>Already have an account? Log in here</a>

</form>
