<h1>Welcome. Wanna help the cause?</h1>
<h3 class='regPage'>Register Below</h3>
<form method="post" class='regPage'>
  <h4>First Name</h4>
  <input placeholder="first name" autocomplete="first-name" type="text" name="firstName" value="">
  <h4>Last Name</h4>
  <input placeholder="last name" autocomplete="last-name" type="text" name="lastName" value="">
  <h4>Email</h4>
  <input placeholder="email" autocomplete="email"type="text" name="username" value="">
  <h4>Password</h4>
  <input placeholder="password" autocomplete="password" type="password" name="password" value="">
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <br>
  <br>
  <button type="submit" class='regLogBtn'>Register</button>
  <br>
  <br>

  <a href='/login' id='alreadyHave'>Already have an account? Log in here</a>

</form>
